/*BASE LAYOUT*/
html,body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #353b53;
	/*Mettre des guillhemets quand ne vient pas de google font et quand plusieurs mots*/
	font-family: 'lato', sans-serif;
	/*100% correspond a 16px*/
	font-size: 100%;
	/*fonction rem (ex. 2rem) pour mettre la police relativement à celle par défaut de 100%*/
}

p {
	color:white;
}